.works
  .container
    h2.works__title.heading Recent  Works
    ul.works-list.row
      li.col-sm-6.col-md-4.col-lg-3
        .works-list__item
          img(src="./images/works-item-1.jpg", alt="work item 1").works-list__image
          .works-info
            a(href="#").works-list__link.heading Character  Design
            time(datetime="2012-06-15").works-list__date.heading June 15, 2012
      li.col-sm-6.col-md-4.col-lg-3
        .works-list__item
          img(src="./images/works-item-2.jpg", alt="work item 1").works-list__image
          .works-info
            a(href="#").works-list__link.heading Character  Design
            time(datetime="2012-06-15").works-list__date.heading June 15, 2012
      li.col-sm-6.col-md-4.col-lg-3
        .works-list__item
          img(src="./images/works-item-3.jpg", alt="work item 1").works-list__image
          .works-info
            a(href="#").works-list__link.heading Character  Design
            time(datetime="2012-06-15").works-list__date.heading June 15, 2012
      li.col-sm-6.col-md-4.col-lg-3
        .works-list__item
          img(src="./images/works-item-4.jpg", alt="work item 1").works-list__image
          .works-info
            a(href="#").works-list__link.heading Character  Design
            time(datetime="2012-06-15").works-list__date.heading June 15, 2012