footer.footer.ears
  .container
    .footer-container
      .row
        .col-sm-6.col-md-4.footer-section
          span.footer-section__title.heading About  Jetro
          p.footer-section__desc Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando. 
          p.footer-section__desc Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
        .col-sm-6.col-md-4.footer-section
          span.footer-section__title.heading Twitter  Widget
          ul.footer-comments
            li.footer-comments__item
              .footer-comments__body
                span.footer-comments__user @pixelmater
                p.footer-comments__comment What an awesome design with great functionality :)
              span.footer-comments__date about 1 hour ago
            li.footer-comments__item
              .footer-comments__body
                span.footer-comments__user @designdude
                p.footer-comments__comment What an awesome design with great functionality :)
              span.footer-comments__date about 2 hour ago
          p Follow #[span.footer-comments__user @bestpsdfreebies]
        .col-sm-6.col-md-4.footer-section
          span.footer-section__title.heading Contact  Us
          p.footer-section__desc Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. 
          .footer-contacts
            a(href="mailto:information@jetro.com").footer-contacts__item information@jetro.com
            a(href="tel:+1-847-555-5555").footer-contacts__item 1-847-555-5555
          ul.footer-social
            li.footer-social__item
              a(href="#").footer-social__link
                svg(width="30" height="30")
                  use(xlink:href="/images/sprite.svg#twitter-icon")
            li.footer-social__item
              a(href="#").footer-social__link
                svg(width="30" height="30")
                  use(xlink:href="/images/sprite.svg#linkedin-icon")
            li.footer-social__item
              a(href="#").footer-social__link
                svg(width="30" height="30")
                  use(xlink:href="/images/sprite.svg#facebook-icon")
script(src="./js/libs/jquery/jquery-3.5.1.min.js")
script(src="./js/libs/bootstrap/bootstrap.min.js")
script(src="./js/main.js")