- var pages = {'index': 'home', 'about': 'about us', 'blog': 'blog', 'portfolio': 'portfolio', 'contacts': 'contact us'}
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
    link(href="http://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet")
    link(rel="stylesheet", href="css/libs/bootstrap/bootstrap-grid.min.css")
    link(rel="stylesheet", href="css/libs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    header.header
      .container
        .row.header-row
          .col-sm-12.col-md-6.col-lg-7
            a(href="/" ).header__logo.heading Jet#[span ro]
          .col-sm-12.col-md-6.col-lg-5
            nav.header-nav
              each val, key in pages
                - var className = 'header-nav__item heading';
                if key == title
                  - className += ' header-nav__item--active'
                a(href='/' + key + '.html' class=className)= val
      if title != 'index'                  
        .header-banner.ears
          .container.header-banner__container
            span.header-banner__title.heading #{title}