- var title = 'portfolio-item';
- var itemN = '4';
- var nested = true;
include ../components/common/header.pug
main.main
  include ../components/portfolio/item.pug
  include ../components/common/works.pug
include ../components/common/footer.pug