- var title = 'about';
include components/common/header.pug
main.main
  .about
    .container
      .row
        .col-sm-12.col-md-9
        .col-sm-12.col-md-3
          include components/common/sidebar.pug
include components/common/footer.pug