- var title = "blog";
include components/common/header.pug
main.main
  .blog
    .container
      .row
        .col-sm-12.col-md-8
          include components/blog/posts.pug
          include components/blog/pagination.pug
        .col-sm-12.col-md-3
          include components/common/sidebar.pug
include components/common/footer.pug