- var title = 'index';
include components/header.pug
main.main
  include components/index/carousel.pug  
  include components/index/advantages.pug
  include components/index/works.pug
include components/footer.pug