- var title = 'index';
include components/header.pug
main.main
  .ears
    .container
      .carousel.slide(data-ride='carousel')
        //- ol.carousel-indicators
        //-   li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        //-   li(data-target='#carouselExampleIndicators' data-slide-to='1')
        //-   li(data-target='#carouselExampleIndicators' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img(src='./images/carousel-item-1.jpg' alt='First slide')
          .carousel-item
            img(src='./images/carousel-item-2.jpg' alt='Second slide')
          .carousel-item
            img(src='./images/carousel-item-3.jpg' alt='Third slide')
          .carousel-item
            img(src='./images/carousel-item-4.jpg' alt='Fourth slide')
          .carousel-item
            img(src='./images/carousel-item-5.jpg' alt='Fifth slide')
          .carousel-item
            img(src='./images/carousel-item-6.jpg' alt='Sixth slide')
        button.carousel-control-prev.carousel-control( role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        button.carousel-control-next.carousel-control(role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      .carousel-nav
        .row
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-1.jpg' alt='First slide').carousel-nav__image
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-2.jpg' alt='Second slide').carousel-nav__image
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-3.jpg' alt='Third slide').carousel-nav__image
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-4.jpg' alt='Fourth slide').carousel-nav__image
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-5.jpg' alt='Fifth slide').carousel-nav__image
          .col-2
            button.carousel-nav__button
              img(src='./images/carousel-item-6.jpg' alt='Sixth slide').carousel-nav__image
  .advantages
    .container
      .row
        .col-6.col-md-4
          .advantages-item
            .advantages-item__header
              svg(width="46" height="46" fill="#e8663c")
                use(xlink:href="./images/sprite.svg#gear-icon")
              h2.advantages-item__title.heading Check out  my  latest portfolio  items
            p.advantages-item__desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
            a(href="#").advantages-item__link.heading More
        .col-6.col-md-4
          .advantages-item
            .advantages-item__header
              svg(width="49" height="40" fill="#e8663c")
                use(xlink:href="./images/sprite.svg#success-icon")
              h2.advantages-item__title.heading Offer  Top  Notch  Quality Work  &  Services
            p.advantages-item__desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
            a(href="#").advantages-item__link.heading More
        .col-6.col-md-4
          .advantages-item
            .advantages-item__header
              svg(width="41" height="40" fill="#e8663c")
                use(xlink:href="./images/sprite.svg#user-icon")
              h2.advantages-item__title.heading Follow  Me  on  Twitter,  Facebook  &  Pinterest
            p.advantages-item__desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
            a(href="#").advantages-item__link.heading More
  .works
    .container
      h2.works__title.heading Recent  Works
      ul.works-list.row
        li.col-sm-6.col-md-4.col-lg-3
          .works-list__item
            img(src="./images/works-item-1.jpg", alt="work item 1").works-list__image
            .works-info
              a(href="#").works-list__link.heading Character  Design
              time(datetime="2012-06-15").works-list__date.heading June 15, 2012
        li.col-sm-6.col-md-4.col-lg-3
          .works-list__item
            img(src="./images/works-item-2.jpg", alt="work item 1").works-list__image
            .works-info
              a(href="#").works-list__link.heading Character  Design
              time(datetime="2012-06-15").works-list__date.heading June 15, 2012
        li.col-sm-6.col-md-4.col-lg-3
          .works-list__item
            img(src="./images/works-item-3.jpg", alt="work item 1").works-list__image
            .works-info
              a(href="#").works-list__link.heading Character  Design
              time(datetime="2012-06-15").works-list__date.heading June 15, 2012
        li.col-sm-6.col-md-4.col-lg-3
          .works-list__item
            img(src="./images/works-item-4.jpg", alt="work item 1").works-list__image
            .works-info
              a(href="#").works-list__link.heading Character  Design
              time(datetime="2012-06-15").works-list__date.heading June 15, 2012



include components/footer.pug