- var links = ['Videos (3)', 'Sports (5)', 'Media (2)', 'Entertainment (7)', 'Life (4)', 'Super Cool Stuff (8)'];
- var gallery = ['images/dev-photo-1.jpg', 'images/dev-photo-1.jpg','images/dev-photo-1.jpg','images/dev-photo-1.jpg','images/dev-photo-1.jpg','images/dev-photo-1.jpg','images/dev-photo-1.jpg','images/dev-photo-1.jpg'];
.sidebar
  .sidebar-item
    h3.section-title.sidebar-item__title.heading About  Jetro
    p.sidebar-item__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
  .sidebar-item
    h3.section-title.sidebar-item__title.heading Categories
    nav.sidebar-nav
      each val in links
        a(href="#").sidebar-nav__link= val
  .sidebar-item
    h3.section-title.sidebar-item__title.heading Photo  Gallery
    ul.sidebar-gallery.row
      each val in gallery
        li.sidebar-gallery__item.col-4.col-lg-3
          img(src=val, alt="product developer photo").sidebar-gallery__image