.portfolio-nav
  .container.portfolio-container
    button(data-toggle="all").portfolio-nav__button.portfolio-nav__button--active.heading all
    button(data-toggle="print").portfolio-nav__button.heading print
    button(data-toggle="web").portfolio-nav__button.heading web
    button(data-toggle="photoshop").portfolio-nav__button.heading photoshop
    button(data-toggle="wordpress").portfolio-nav__button.heading wordpress
  