form.contacts-form
  input(type="text" name="firstname" placeholder="FIRST NAME" required).contacts-form__input.contacts-form__item
  input(type="text" name="lastname" placeholder="LAST NAME" required).contacts-form__input.contacts-form__item
  input(type="email" name="email" placeholder="EMAIL ADDRESS" required).contacts-form__input.contacts-form__item
  textarea(name="message" placeholder="MESSAGE" required).contacts-form__area.contacts-form__item
  button(type="submit").contact-form__submit submit