section.contacts-information
  p.contacts-information__desc Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.
  .contacts-address
    span.contacts-address__title Best PSD Freebies
    span.contacts-address__item 328 Ave C
    span.contacts-address__item Saskatoon, SK
    span.contacts-address__item S7R 2V9
  .contacts-connect
    a(href="tel:+78888428356").contacts-connect__item t: (888) 842 - 8356
    a(href="tel:+78884529257").contacts-connect__item f: (888) 452 - 9257
    a(href="mailto:info@psdfreebies.com").contacts-connect__item e: info@psdfreebies.com

