ul.blog-pagination
  li
    button.blog-pagination__button.blog-pagination__button--active.heading 1
  li
    button.blog-pagination__button.heading 2
  li
    button.blog-pagination__button.heading 3